{% extends 'fweberBackendBundle::layout.html.twig' %}

{% block currentPage %}tags{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-tags"></span>
        Tags
    </h2>

    <div class="well well-sm">
        <a class="btn btn-sm btn-success" href="{{ path('backend_tags_create') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Add Tag
        </a>
    </div>

    {% if tags|length() > 0 %}
        <table class="table table-bordered">
            {% for tag in tags %}
                <tr>
                    <td>
                        {{ tag.title }}
                    </td>
                    <td>
                        {#<div class="pull-right">
                            <a class="btn btn-warning" href="{{ path('', {tagId: tag.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{{ path('', {tagId: tag.id}) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>#}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            No Tags yet!
        </div>
    {% endif %}

{% endblock %}
