{% extends 'fweberBackendBundle::layout.html.twig' %}

{% block currentPage %}tags{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-tags"></span>
        <a href="{{ path('backend_tags_collection') }}">Tags</a>
        /
        <span class="text-danger">Delete Tag</span>
    </h2>

    <div class="panel panel-danger">
        <div class="panel-body">
            Do you really want to delete the Tag <span class="label label-danger">{{ tag.title }}</span>?

            <br>
            <br>

            <form method="post">
                <a class="btn btn-default" href="{{ path('backend_tags_collection') }}">
                    <i class="fa fa-chevron-left"></i>
                    Back
                </a>
                <input type="hidden" value="1" name="sent">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

{% endblock %}
