{% extends 'fweberBackendBundle::layout.html.twig' %}

{% block currentPage %}tags{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-tags"></span>
        <a href="{{ path('backend_tags_collection') }}">Tags</a>
        /
        <span class="text-warning">{{ tag.title }}</span>
    </h2>

    <div class="panel panel-warning">
        <div class="panel-body">

            <form method="post">
                <div class="form-group">
                    <label for="input-title">Title</label>
                    <input type="text" class="form-control" id="input-title" value="{{ tag.title }}" placeholder="Title" name="title">
                </div>

                <input type="hidden" value="1" name="sent">

                <button type="submit" class="btn btn-warning">Update Tag</button>
            </form>

        </div>
    </div>

{% endblock %}
