{% extends 'layout.html.twig' %}

{% block title %}Florian Weber | Portfolio{% endblock %}

{% block currentPage %}portfolio{% endblock %}

{% block app %}

<div class="portfolio-block">
    <a href="http://korpus-metal.de" target="_blank"><img class="img-thumbnail" src="{{ app.request.baseUrl }}/assets/img/portfolio/portfolio-korpus.jpg"></a>
    <div>
        <h2 class="portfolio-title">Korpus Website</h2>
        <p class="portfolio-link">
            <a href="http://korpus-metal.de">http://korpus-metal.de</a>
        </p>
    </div>
</div>

<div class="portfolio-block">
    <a href="http://weber-elektronik.de" target="_blank"><img class="img-thumbnail" src="{{ app.request.baseUrl }}/assets/img/portfolio/portfolio-we.png"></a>
    <div>
        <h2 class="portfolio-title">Weber-Elektronik</h2>
        <p class="portfolio-link">
            <a href="http://weber-elektronik.de">http://weber-elektronik.de</a>
        </p>
    </div>
</div>

<div class="portfolio-block">
    <a href="http://friseur-klemmer.de" target="_blank"><img class="img-thumbnail" src="{{ app.request.baseUrl }}/assets/img/portfolio/portfolio-klemmer.png"></a>
    <div>
        <h2 class="portfolio-title">Friseursalon Klemmer</h2>
        <p class="portfolio-link">
            <a href="http://friseur-klemmer.de">http://friseur-klemmer.de</a>
        </p>
    </div>
</div>

{% endblock %}
