<div id="tag-cloud" style="width: 550px; height: 350px;"></div>

<script>
    var word_array = [
        {% for i, tag in tags %}
        {% if tag.posts|length > 0 %}
        {
            text: "{{ tag.title }}",
            weight: {{ tag.posts|length }},
            link: "{{ path('blog_tag', {slug: tag.slug}) }}"
        }{% if i != tags|length - 1 %}, {% endif %}
        {% endif %}
        {% endfor %}
    ];

    $(function () {
        $("#tag-cloud").jQCloud(word_array);
    });
</script>