{% extends 'layout.html.twig' %}

{% block currentPage %}blog{% endblock %}

{% block app %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">

            <h1>Blog Posts for #{{ tag.title }}</h1>

            {{ include(':Blog:_posts_collection.html.twig', { 'posts': tag.posts }) }}

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">

            {{ render(controller('fweberBlogBundle:Blog:tagCloud')) }}

        </div>
    </div>

{% endblock %}