{% extends 'layout.html.twig' %}

{% block currentPage %}blog{% endblock %}

{% block app %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">

            <h1>Tags</h1>

            {% for tag in tags %}
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">
                            <a href="{{ path('blog_tag', {slug: tag.slug}) }}">{{ tag.title }}</a>
                        </h2>

                        <h4>
                            <span class="badge">{{ tag.posts|length }}</span> Posts
                        </h4>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    No Tags yet!
                </div>
            {% endfor %}

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">

            {{ render(controller('fweberBlogBundle:Blog:tagCloud')) }}

        </div>
    </div>

{% endblock %}