{% extends 'layout.html.twig' %}

{% block title %}Florian Weber | Music{% endblock %}

{% block ogpTitle %}Florian Weber | Music{% endblock %}

{% block currentPage %}music{% endblock %}

{% block app %}

    <div class="row">
        <div class="col-lg-12">

            <h1>Career</h1>

            <p class="fw-hero">
                Originally I started playing Drums at the age of 12 at the <a href="http://www.musikschule-hy.de/">Musikschule Hoyerswerda</a>,<br>
                lead on by <a href="http://www.thieme-jens.de/">Jens Thieme</a>.
                I also thaught myself to play Guitar and Bass Guitar and I am composing my own music.
            </p>

            <p class="fw-hero">
                From 2009 to 2014 I was playing Bass Guitar in the Death Metal Band <a href="http://korpus-metal.de">Korpus</a>.<br>
                We performed a number of gigs in East and South Germany, from Mecklenburg-West Pomerania<br>
                down to Bavaria and built quite a big fanbase over the years.<br>
                We produced and published two full length records, 'Existenz' and 'Ebendbild'.<br>
            </p>

            <p class="fw-hero">
                Currently I am taking a hiatus from Live Music and focus on producing music for <a href="https://www.facebook.com/Entanglement.music">Entanglement</a>.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">

            <h1>My Original Music</h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/7599071&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

        </div>
        <div class="col-lg-6">

            <h1>Korpus</h1>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/4025619&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

        </div>
    </div>

{% endblock %}
